@tailwind base;
@tailwind components;
@tailwind utilities;

#chat-window::-webkit-scrollbar {
  width: 6px;
}

#chat-window::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 3px;
}

#chat-window::-webkit-scrollbar-thumb {
  background: #cbd5e1;
  border-radius: 3px;
}

#chat-window::-webkit-scrollbar-thumb:hover {
  background: #94a3b8;
}

/* Sidebar scrollbar styles */
#conversation-list::-webkit-scrollbar {
  width: 4px;
}

#conversation-list::-webkit-scrollbar-track {
  background: transparent;
}

#conversation-list::-webkit-scrollbar-thumb {
  background: #4b5563;
  border-radius: 2px;
}

#conversation-list::-webkit-scrollbar-thumb:hover {
  background: #6b7280;
}